html, body{
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;      

}
nav{
    display:flex;
    width:100%;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    position:fixed;
    z-index:10;
}

nav li{
    float:left;
    list-style-type: none;
}
nav li a {
    display:block;
    padding: 10px;
    text-decoration:none;
}

#progress-bar{
    border-bottom: 6px solid green;
    position:fixed;
    top: 70px;
    left: 0px;
}

#main-container{
    height:500px;
    width:80%;
    padding-top:100px;
    margin-left:150px;
}
#main-story{
    display:flex;
    justify-content:space-evenly
}


.side, .small{
    width:250px;
}

.center,.big{
    width:500px;
    float:left;
}
