/* here we set our universal font */
* {
    font-family: Helvetica, Arial, sans-serif;

}

/* A nice grey highlight that fits our website theme for when the client highlights on any page*/
*::selection {
    background: grey;
    color: white;
}

/* Basic spacing and font sizes for the html and body */
html,
body {
    margin: 0px;
    font-size: 18px;
    word-spacing: 4px;
    color: grey;
}


/* We want anything that is a quote to stand out, therefore we color every quote black directly from blockquote  */
blockquote {
    color: black;
}

/* every paragraph in a blockquote we want centered (this is basically for quotes.html exclusively) */
blockquote>p {
    text-align: center;
}

/* ALL paragraphs we want to align left. No p tag should ever align in the center.
   The line-height makes it much easier to read, by spacing out the words a bit more.
*/
p {
    text-align: left;
    line-height: 24px;

}

/* For each and every link we don't want a underline present */
a {
    text-decoration: none;
}

/*
 this '>' represents the things inside of the <a> tags. Therefore, any text inside of <a> tags we want black
 This is mainly for headers, and such. the nav bar we exclude from this as we want it to be white.
*/

a>* {
    color: black
}

/*
     on hovering a header link, we want it to highlight blue and underline.
    this helps visibility for the client to see exactly what they are hovering and
    provides a flawless and rewarding experience for the client
*/
a>*:hover {
    color: blue;
    text-decoration: underline;
}

/* all headers get centered and should be black */
h1,
h2,
h3 {
    color: black;
    text-align: center
}

/* we make images bigger when hovered with this. 
This gives the user instant and pleasent feedback for whatever image they are hovering
This class is used on every page and is universal to the website */
.zoom:hover {
    transform: scale(1.02)
}

/* the transition we use for the zoom */
.zoom {
    transition: transform .2s ease;
}

/* antoher universal class, we use this to have that nice shadow behind all the books */
.shadow {
    box-shadow: 4px 4px 10px 0px #000000;
    border-radius: 3%;

}

/*
    We only use nav for our main navigation at the top of the screen, and the mobile version.
    the most important part of the code here is the fixed positioning and the z index. this allows
    the navigation to stay ontop and folloow the user. the flex display is also important to let the
    elements flow correctly
*/

nav {
    display: flex;
    width: 100%;
    background-color: #1f1f19;
    position: fixed;
    z-index: 1;
    height: 50px;
    top: 0px;
}



/* styling of the top nav bar */
nav li a {
    padding: 10px;
    color: white;
}

/* just some hovering color. we add focus here too so that non mouse users can see the effect*/
nav li a:hover,
nav li a:focus {
    color: grey;
    transition: color .1s ease;
}

/* the <ol> container for the main navigation at the top of the screen. */
#nav-list {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20px;
}

/* we remove the <ol> dot with this */
#nav-list>li {
    list-style-type: none;
}

/* this is the main header at the top of every page on the left 'Knowledge News' */
#header>a {
    color: white;
    border-radius: 3%;
    width: 230px;
    position: relative;
    bottom: 10px;
    text-decoration: none;
    margin-right: 150px;
    margin-left: 50px;
}


/* the hover for the title at the top left */
#header>a:hover {
    color: grey;
}


/* this is the mobile nav menu, we keep it hidden till the screen is smaller then 1024px */
#nav-mobile {
    display: none;
}

/* the dropdown menu image */
#dropdown-pic {
    width: 50px;
    height: 50px;
    margin: auto;
}

/* the container for the image */
#dropdown-container {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 5px;
}


/*DROPDOWN MENU START*/
/***************************************************************************************
/*[1] W3SCHOOLS, 'How TO - Clickable Dropdown' (N/a), Date UNKNOWN. [Code].
https://www.w3schools.com/howto/howto_js_dropdown.asp#:~:text=Example%20Explained,dropdown%20menu%20correctly%20with%20CSS.*
***************************************************************************************/
/*
    It should be noted that I played around with some of the contents here, I changed the colors,
    I changed the names, but most of the functionality did come from the source I got it from.

    I also changed so the menu appeared on the right, therefore i had to move the .dropdown-content using
    right:0px;
*/


/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #b0d6f0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #1f1f19;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/*DROPDOWN MENU END*/
/***********************************/


/* here we hide the old navigation menu and show the mobile one */
@media (max-width: 1025px) {
    #laptop-nav {
        display: none;
    }
    #header>a
    {
    margin-left: 0px;
    margin-right:0px;
    font-size: 16px;
    }
    #nav-mobile {
        display: flex;
        justify-content: space-between;

    }
}

/* our profress bar that moves when we scroll,
   we give it a z-index, because if we don't when the user
   hovers on an item that resizes it will go over the progress bar
*/
#progress-bar {
    border-bottom: 6px solid green;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0px;
}

/* most pages have this container, we pad it so content doesn't get hidden by the nav bar
if you don't use main-container, please note your content may be hidden by the nav bar
*/
#main-container {
    padding-top: 75px;

}

/*
 this page is hidden by default, its on quotes.html, stoicism.html, and books.html
 its a little image to tell the client they are on a non existent page.

*/
#uh-oh-page {
    text-align: center;
    display: none;
}



/*====================================== INDEX.HTML START ===================================== */


/* two of these are used in the index.html(news) page. one for the three pictures at the top and one for
the two at the bottom */
.news-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 75px;
    margin-right: auto;
    margin-left: auto;
    gap: 50px;
}

/* the side articles in the top 3 articles on the news page */
.side {
    width: 100%;
    max-width: 250px;
    text-align: center;
}

/* we use this for images we want small */
.small {
    width: 200px;
}

/* this is for the middle image on the news page, and for images we want big */
.center,
.big {
    width: 100%;
    max-width: 500px;
}

/* medium size, and news articles (which are the articles at the bottom of the news page) */
.medium,
.news-article {
    width: 100%;
    max-width: 450px;
}

/*
 when the width is less then 1025px we compact the news containers.
 all the articles have the news class, we resize them so they all match the same size
 
*/
@media(max-width:1025px) {
    .news-container {
        flex-wrap: wrap;
        max-width: 500px;
    }

    .news {
        max-width: 450px;

    }
}


/*====================================== INDEX.HTML END ===================================== */




/*====================================== BOOKS.HTML START ===================================== */

/* the main container for books.html (the margin-left and right auto center it, this is common amongst all my code */
#books-container {
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* the image at the froont page of books.html */
#books-front-page-img {
    max-width: 600px;
    width: 100%;
}

/* we center the image, and give it some padding (this is the container the image is in) */
#books-front-page {
    text-align: center;
    padding: 20px;
}


/*
 we have to excplitily call this even though we have a universal hover effect.
 Without this the book links will not show the hover effect.
*/
.book-links:hover,
.book-links:focus {
    text-decoration: underline;
    color: blue;
}

.book-links {
    color: black;
}

/* this contains the picture and the description for every book */
.book-content {
    display: flex;
    height: auto;
}

/* inside the content, this is the image  */
.book-img {
    margin: 20px;
    max-width: 100px;
}

/* the book title */
.book-title {
    margin-bottom: 0px;
    color: black
}

/* and the book description */
.book-description {
    padding: 0px 20px;
}

/* this line neatly seperates the book content */
.book-line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 1000px;
    width: 100%;
    height: 0.5px;
    background: grey;
}

/*
    books.html resizing when the screen is too small,
    we do this so the text isn't as crammed together
*/
@media (max-width: 808px) {
    .book-content {
        flex-wrap: wrap;
        justify-content: center;
    }

}

/*[3] W3docs.com, 'How to Make a Div a Clickable Link' (N/a), Date UNKNOWN. [Code].
https://www.w3docs.com/snippets/css/how-to-make-a-div-a-clickable-link.html 

                        ==ORIGINAL CODE IS BELOW==
.container {
  font-size: 5em;
  background-color: #a8a8a8;
  color: white;
  width: 8em;
  height: 2em;
  line-height: 2;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
                        ==MY CODE IS BELOW==
        I edited the code above to meet my sites requirements, but the main
        functionality completely came from this source. These are the little
        link bubbles at the bottom of books.html
*/

/* the ordered list container that holds all the little navigation circles at the bottom
of books.html */
#next-page-menu {
    list-style-type: none;
    padding: 20px 0px;
    max-width: 300px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between
}

/* this is the span element that we click which links us to the appropiate page.
Note, that this isn't visible but is super important!.
if you edit this, you will no longer have anything to click to link you to the next page. */
.next-page-link {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* this is the clickable circle area. Its the <li> that holds everything for each clickable link */
.next-page-option {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 100%;
}

/* each number needs to be styled blue, please note when a link is clicked javascript handles the
styling of that number, therefore there is no code IN HERE that will show the styling of the
current page the user is on. (the number with a grey circle around it with a white number)
You can find this code in the scripts.js file, inside the loadBookPage function. */
.menu-num {
    margin-top: 10px;
    position: relative;
    top: 12px;
    color: blue;
}




/*====================================== BOOKS.HTML END ===================================== */
/* to access this next page click on a book in books.html */
/*====================================== BOOKS.HTML?BOOK START ===================================== */

/*this is the individual book page being hidden until the user clicks a book this contains ALL of
books.html?book's content*/
#individual-book-container {
    display: none;
}

/* this contains the book, its description and its header */
#book-page-landing-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* the description container at the start of books.html?book */
#book-page-description-container {
    margin: 20px;
    max-width: 400px;
}

/* the book image itself */
#book-page-img {
    max-width: 250px;
    margin: 20px;
}

/* everything under the landing container, this is the container that holds it all */
#book-details {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

/* book-page-points > li AND #book-page-summary are NOT IN books.html! they get added via javascript when the page loads a book*/
.book-page-passages,
#book-page-points>li,
#book-page-summary>p {
    margin-bottom: 15px;
    padding: 0px;
}

/* when the screen width is less then 808px, we neatly move the book description underneath an introduction heading.
this heading is the one below, and is not shown by default */
#book-page-landing-introduction {
    display: none;
}

/* when the width is less then 808px we resize the image, show the introduction header, and put the description
underneath that header */
@media (max-width: 808px) {
    #book-page-img {
        max-width: 120px;
        margin-top: 55px;
    }

    #book-page-landing-container,
    #book-page-description-container {
        flex-wrap: wrap;
        max-width: 800px;
        width: 100%;
    }

    #book-page-landing-introduction {
        display: block;
    }
}

/*====================================== BOOKS.HTML?BOOK END ===================================== */




/*====================================== REPORT.HTML START ===================================== */

/* the main container for the report page */
#report-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;

}

/* in this page we want our links to stand out */
.report-link {
    color: black;
    font-weight: bold;
}

/* when hovering a link on reports, we want it to also highlight alike our headers in index.html*/
.report-link:hover,
.report-link:focus {
    text-decoration: underline;
    color: blue;
}

/* we seperate our list items so they are more easily readable */
.report-list-item {
    margin-bottom: 20px;
}

/* our site map  */
#site-map {
    width: 100%;

}

/* the container for our site map */
#site-map-container {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#wireframe-img {
    width: 400px;
}

#wireframe-container {
    text-align: center;


}

#wireframe-output {
    background: grey;
    max-width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#wireframe-choices {
    width: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.wireframe-buttons {
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

.wireframe-buttons:hover {
    background: black;
    color: white;
    transition: all ease .3s;
}

/*====================================== REPORT.HTML END ===================================== */




/*====================================== MEDITATIONS.HTML END ===================================== */

/* The main container for our meditations page */
#meditations-container {
    padding: 0px 30px;
}

/* the main first image container */
#meditation-main-story {
    padding: 10px;
    max-width: 800px;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* the first story in meditaions.html */
#meditation-main-story-img {
    max-width: 400px;
}

/* the title for the main story */
.meditations-main-story-title {
    width: 100%;
    margin-top: 25px;
    color: black;
}

/* the info for the main story */
#meditation-main-story-info {
    max-width: 300px;
    height: 290px;
    padding: 0px 20px;
}


/* every article other then the main first one uses this as their container */
.meditation-article {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

/* the image of each article */
.meditation-article-img {
    max-width: 300px;
    margin-top: 20px;
}

/* the title for each article */
.meditation-article-title {
    margin-bottom: 50px;
    width: 100%;
    color: black;
}

/* the hover effect for each title (including the main first one) */
.meditation-article-title:hover,
.meditation-article-title:focus {
    color: blue;
    text-decoration: underline
}

/* the info for each article, we space it out a bit so its less crowded*/
.meditation-article-info {
    padding: 0px 20px;
}

/* this is the overlay that is present when the user resizes the window, or accesses the website on a mobile
phone.  */
.meditation-article-overlay,
#meditation-main-story-overlay {
    display: none;
    position: relative;
    top: -55px;
    height: 30px;
    background: rgba(255, 255, 255, 0.45);
}

/* the line that seperates each article container./ */
.meditation-article-line {
    width: 100%;
    max-width: 1000px;
    height: 2px;
    background: grey;
    margin-left: auto;
    margin-right: auto;
}

/* when the screen size is under 1025 pixels, we hide the following:
    1.) the header
    2.) the description
   
   we then show the overlay (which is the title, however it is resized, you can view this in the html file)
   we then resize the article images and we remove the meditation article line
 */
@media (max-width: 1025px) {

    #meditation-main-story-info,
    .meditation-article-info {
        display: none;
    }

    #meditation-main-story-overlay,
    .meditation-article-overlay {
        display: block;
    }

    .meditation-article-img {
        max-width: 400px;
    }

    .meditation-article-line {
        display: none;
    }

}

/*====================================== MEDITATIONS.HTML END ===================================== */





/*====================================== MEDITATIONS.HTML?article= START ===================================== */

/* the primary container for the individual articles */
#meditation-individual-article-container {
    text-align: center;
    padding: 0px 20px;
}

/* this container is inside of the one above, we use this for our primary styling and sizing of the page */
#meditation-individual-article {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
}

/* the image we show in the individual article */
#meditation-individual-img {
    max-width: 350px;
}

/*====================================== MEDITATIONS.HTML?article= END ===================================== */

/*====================================== STOICISM.HTML START ===================================== */
/* the main container for the stoicism news page */
#stoicism-news-container {
    margin-top: 50px;
}

/* there are two of these containers, one contains the first row of stories, and one contains the second row */
.stoic-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

/* the article that contains each stoic at the top of the page */
.stoic-article {
    max-width: 300px;
    text-align: center;
}

/* the two stoic philosophers at the top of stoicism.html */
.stoic {
    max-height: 300px;
}

/* the container for each stoic book */
.stoic-book-container {
    max-width: 300px;
    text-align: center;
}

/* the stoic books at the bottom of stoicism.html */
.stoic-book {
    max-height: 200px;
}

/* we group the stoic books into groups of two for styling purposes */
.stoic-book-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;
}

/* the first resize  shifts two books to the next row, this happens when the width is less then 1400px
   the second resize happens when the width is less then 1025, this is when we make all the elements fit
   in a vertical column*/
@media (max-width:1400px) {
    .stoic-book-group {
        max-width: 1200px;
    }
}

@media(max-width:1025px) {
    .stoic-book-container {
        max-width: 400px;
    }

    .stoic-container {
        max-width: 500px
    }
}

/*====================================== STOICISM.HTML END ===================================== */


/* this can be accessed by clicking the article what is stoicism. The other article beside it links to a quote page */
/*====================================== STOICISM.HTML?ARTICLE= START ===================================== */



/* this holds all the content for the individual stoicism article article */
#stoicism-individual-article-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* this holds the img, and the title container  */
#stoicism-individual-article-landing-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* the main and only image in the page */
#stoicism-individual-article-img {
    max-width: 250px;
}

/* this container (which is inside the landing container) contains a title and title info */
#stoicism-individual-article-title-container {
    display: none;
    max-width: 300px;
    padding: 30px;
}


/* this container gets injected with all the info neccecary form javascript. Its everything after
the title and title description. */
#stoicism-individual-article-info-container {
    padding: 0px 30px;
}

/* on window resize, or on mobile device we want to make the image a bit smaller*/
@media (max-width:800px) {
    #stoicism-individual-article-img {
        max-width: 150px;
    }
}

/*====================================== STOICISM.HTML?ARTICLE= END ===================================== */


/*====================================== QUOTES.HTML START ===================================== */

/*
 this is the ordered list that holds all the people in quootes.html
 We don't explicitly style this page, and the only reason for that is because
 flex-wrap in this case just works way more efficiently and better then any explicit
 styling.
 */
#quotes-people-list {
    padding-left: 0px;
    padding-top: 60px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
}

/* the header at the top of the page*/
#quotes-container-header {
    margin-top: 50px;
}

/* at the bottom of the quotes page the container that holds the image and header to the random quotes page */
#quotes-random {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/* within the #quootes-people-list ordered list, we have list elements <li>. Each of these list
elements has this class. These list elements contain a image of the person and their name*/
.quotes-article {
    max-width: 400px;
    width: 100%;
    margin-bottom: 50px;
}

/* each persons image */
.quote-author {
    height: 300px;
}

/*====================================== QUOTES.HTML END ===================================== */



/*                      to access this click on a person in quotes.html */
/*====================================== QUOTES.HTML?PERSON START ===================================== */

/* this container contains everything for the individual person, its hidden by default
and shown when the client clicks on a person in quotes.html. */
#individual-quotes-container {
    display: none
}

/* this contains an image of the person clicked, as well as a small description of them.
its right at the top of the screen when you click on a person */
#quote-page-landing-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto
}

/* the description for the person */
#quote-page-intro {
    max-width: 450px;
}

/* the image of the person */
#quote-page-img {
    height: 450px;
}

/* here we space the container for the description, as well as the image so they fit nicely.*/
#quote-page-description-container,
#quote-page-img {
    padding: 30px;
}

/* the container for everything under the landing container (aka all the quotes) */
#quotes {
    text-align: center;
}

/* the ordered list of quotes underneath the landign container. We must remove the list-style-type otherwise
 we will get the annoying ordered list circle */
#quotes-list {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0px;
    list-style-type: none;
}

/* the individual blockquote in each <li>. we give it a nice border to seperate the content*/
.quote-page-quotes {
    padding-bottom: 50px;
    border-bottom: grey solid 1px;
}

/* on the last quote we want to remove the border */
#quote-9 {
    border-bottom: none;
}

/*====================================== QUOTES.HTML?PERSON END ===================================== */



/* click on the image at the bottom of quotes.html to access this page */
/*====================================== QUOTES.HTML?PERSON=RANDOM START ===================================== */



/*[4] copy-paste-css, 'Simple CSS Button examples' (N/a), Date UNKNOWN. [Code].
https://copy-paste-css.com/

The button i used was under the 'biteable' header and was light blue
*/


/* the button on the randomizer page */
#randomizer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 50px;
    padding: 12px 24px;
    border: 0;
    background: #1f1f19;
    color: white;
    font-size: 16px;
    display: none;
}


/* onhover/focus we play a little animation */
#randomizer:hover,
#randomizer:focus {
    transition: all .1s ease;
    box-shadow: 0 0 0 3px #1f1f19;
}

/*====================================== QUOTES.HTML?PERSON=RANDOM END ===================================== */






/*====================================== UNIVERSAL FOOTER CODE START ===================================== */

/*styling of the footer */
footer {
    height: auto;
    width: auto;
    padding-bottom: 20px;
    background-color: #1f1f19;
    color: white;
}

/* all the footer links and the 'USEFUL LINKS' h5 tag goes here */
#footer-top {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;

}

/* the footer author AKA me  */
#footer-author {
    text-align: center;
    padding-top: 50px;
}

/* make all the footer links white */
.footer-link {
    color: white;
}

/* when hovering a footer link color it nicely */
.footer-link:hover {
    color: grey;
    transition: color .1s ease;
}

/* the footer links go in here */
#footer-items {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

/* the container that holds the copyright and the author info, wrap reverse is so author wraps ontop */
#footer-bottom {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

/* the footer line  */
#footer-line {
    background: white;
    width: 80%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

/* resize the footer-bottom, and allow  */
@media(max-width:800px) {
    #footer-bottom {
        width: 60%;
        justify-content: center;

    }
}

/*====================================== UNIVERSAL FOOTER CODE END ===================================== */
